.wrapper {
}

/* header */
.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: var(--black);
    background: var(--white);
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    padding: 12px 4px;
    position: fixed;
    background-color: #ffffff;
    z-index: 10;
}

.mobile-header {
    display: none;
}

.header-logo {
    /* width: 20%; */
    display: flex;
    justify-content: flex-start;
}

.header-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo-content {
    width: 192px;
    height: 48px;
}


.navbar {
    /* width: 60%; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
}

.navbar-container {
    color: var(--white);
}

.navbar-content {
    font-size: var(--font-size);
    font-weight: var(--font-bold);
    color: var(--black);
}

.navbar-container :hover {
    cursor: pointer;
    padding-bottom: 2px;
    margin-bottom: -1px;
    color: var(--color-red-bold);
    border-bottom: 2px solid var(--color-red-bold);
    transition: 0.1s ease-in;
}

.search-result {
    width: 242px;
    background-color: red;
    margin: -8px 0px;
}

.search {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background: #ededed;
    border-radius: 92px;
    border: 1.5px solid transparent;
}

.search  input {
    font-family: var(--font-family);
    width: 100%;
    height: 100%;
    flex: 1;
    border: none;
    background: transparent;
    outline: none;
    border: none;
    background: transparent;
    font-size: 12px;
    caret-color: rgb(254, 44, 85);
    padding: 12px 24px;
}

.search input::placeholder {
    color: var(--black);
    font-weight: 400;
}

.search  input:not(:placeholder-shown) {
    .search-btn {
        background: rgba(22, 24, 35, 0.06);
        color: rgba(22, 24, 35, 1);
    }
}

.search input:not(:placeholder-shown) ~ .search-btn {
    opacity: 1;
    background-color: rgba(22, 24, 35, 0.06);
}

.search-btn {
    opacity: 0.6;
    width: 52px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 11px 16px 11px 12px;
    border-top-right-radius: 92px;
    border-bottom-right-radius: 92px;
}

/* search result */
.search-result-container{
    display: none;
    position: absolute;
    width: 120%;
    min-height: 150px;
    max-height: 250px;
    border-radius: 8px;
    background: #F8E5DE;
    top: 110%;
    right: -10%;
    overflow-y: auto;
}

.search-result-container::-webkit-scrollbar {
    width: 2px;
  }

.search-result-items {
    list-style-type: none;
}

.search-result-item {
    padding: 8px 12px;
    border-bottom: 1px solid var(--color-red-bold);
}

.search-result-name {
    font-size: 14px;
    font-weight: 500;
    color: var(--color-red-normal);
}

.search-result-item:hover {
    cursor: pointer;
    opacity: 0.7;
    transition: 0.2s ease-out;
}

.action {
    /* width: 20%; */
    display: flex;
    justify-content: flex-end;
}

.user-action-container,
.action-container {
    display: flex;
    flex-direction: row;
    font-size: var(--font-size);
    font-weight: var(--font-bold);
    color: var(--white);
    padding: 12px 20px;
    border-radius: 40px;
    background: var(--color-red-normal);

   
}

.user-action-container:hover,
.action-container:hover {
    cursor: pointer;
    background: #ed1a38;

    .user-icon {
        background: red;
        color: red;
    }
}

.user-icon {
    margin-right: 12px;
}

.cart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 10px;
    margin-left: 16px;
    border-radius: 50%;
    background-color: var(--color-red-bold);
}

.cart-container:hover {
    cursor: pointer;
    background: #ed1a38;
}


/* page heading */
.pageheading-container {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 97px;
    margin-bottom: -12px;
}

.pageheading-img {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #ccc;
}

.pageheading-content {
    position: absolute;
    top: 50%;
    display: flex;
    flex-direction: column;
    padding: var(--padding-inner);
}

.pageheading-title {
    font-size: 36px;
}

.pageheading-desc {
    font-size: 14px;
    font-weight: var(--font-bold);
}

.breadcrumb {
    position: absolute;
    background: #b91f32;
    bottom: -12px;
    color: #fff;
    padding: 4px 16px;
    display: flex;
    align-items: center;
    margin: 0px 72px;
}

.breadcrumb-icon {
}

.breadcrumb-home-icon {
    padding-right: 2px;
}

.breadcrumb-play-icon {
    padding-right: 6px;
}

.playicon {
    display: flex;
    flex-direction: column;
    color: red;
}
.breadcrumb-title {
    font-size: 14px;
}

.content {
}

/* product */
.product {
    height: 100%;
    background: #f8e5de;
}

.inner {
    width: 100%;
    padding: 72px 0px;
}

.taskbar {
    position: relative;
    width: 100%;
    background-color: #f8e5de;
    padding: var(--padding-inner);
    transition: position 0.3s ease-in-out;
    z-index: 10;
}

.taskbar .fixed {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #f8e5de;
    padding: var(--padding-inner);
    transition: position 0.3s ease-in-out;
    z-index: 12;
}

.fixed {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #f8e5de;
    padding: var(--padding-inner);
    transition: position 0.3s ease-in-out;
    z-index: 12;
}

.taskbar-items {
    width: 100%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 8px;
    padding: 8px 0px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.25);
    border-top: 2px solid rgba(0, 0, 0, 0.6);
}

.taskbar-item {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 16px;
    font-weight: 500;
    margin: 12px;
}

.taskbar-item:hover {
    cursor: pointer;

    .taskbar-content {
        border-bottom: 1px solid var(--color-red-bold);
        padding-bottom: 2px;
        margin-bottom: -1px;
        color: var(--color-red-bold);
        transition: 0.2s ease-in;
    }
}

.taskbar-content {
}

/* menu css */
.menu {
    padding: var(--padding-inner);
}

.menu-items {
    list-style-type: none;
}

.menu-item {
    width: 100%;
    height: 100%;
}

.item-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: #e5ded8;
}

.item-title {
    font-size: 26px;
    font-weight: 600;
    padding: 12px 20px;
}

.item-product {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 32px 0px 40px 0px;
}

.product-container {
    width: 33.3333%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:hover {
        cursor: pointer;
        outline: 3px solid var(--color-red-bold);
        border-radius: 10%;
        box-shadow: inset;
        transition: 0.2s ease;
        opacity: 0.7;
    }
}

.hovered {
    cursor: pointer;
    outline: 3px solid var(--color-red-bold);
    border-radius: 10%;
    box-shadow: inset;
    transition: 0.2s ease;
    opacity: 0.7;
}

.product-title {
    font-size: 20px;
    font-weight: 600;
    color: var(--color-red-normal);
}

.product-price-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.product-price-desc {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,
        sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: var(--color-red-normal);
}

.product-price {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,
        sans-serif;

    font-size: 20px;
    font-weight: 600;
}

/* login */
.login-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.2);
}

.login-inner {
    width: 35%;
    height: 80%;
    background-color: var(--white);
    border-radius: 4px;
    padding: 32px 48px;
    outline: 1px solid #ccc;
}

.login {
    width: 100%;
    height: 100%;
}

.login-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 12px;
    margin-top: -12px;
}

.title {
    font-size: 30px;
    font-weight: 800;
    margin: 0px 0px;
}

.login-action {
}

.login-input {
}

.login-input-name,
.login-input-password {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 16px;

    input {
        width: 100%;
        height: 40px;
        font-size: 14px;
        border-radius: 8px;
        border: 2px solid rgba(0, 0, 0, 0.3);
        padding: 20px 12px;
        background: transparent;
        transition: 0.3 ease;
    }

    .label-line {
        position: absolute;
        pointer-events: none;
        font-size: 12px;
        font-weight: 600;
        margin-left: 12px;
        color: rgba(0, 0, 0, 0.5);
    }

    input:focus-within {
        border: 2px solid #25cafe;
    }

    input:focus {
        outline: #25cafe;
    }

    input:focus + .label-line {
        color: #25cafe;
        left: -6px;
        padding: 0px 6px;
        background-color: #ffffff;
        transition: 0.3s ease;
        transform: translateY(-110%) scale(0.7);
    }

    .input-valued {
        border: 2px solid #25cafe;
        outline: #25cafe;
    }

    .line-valued {
        color: #25cafe;
        left: -6px;
        padding: 0px 6px;
        background-color: #ffffff;
        transition: 0.3s ease;
        transform: translateY(-110%) scale(0.7);
    }
}

.login-input-password {
    input:focus + .label-line {
        color: #25cafe;
        left: 0px;
        padding: 0px 6px;
        background-color: #ffffff;
        transition: 0.3s ease;
        transform: translateY(-110%) scale(0.7);
    }

    .line-valued {
        color: #25cafe;
        left: 0px;
        padding: 0px 6px;
        background-color: #ffffff;
        transition: 0.3s ease;
        transform: translateY(-110%) scale(0.7);
    }
}

.login-socials {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.login-checked {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    border: none;

    input {
        position: absolute;
        width: 16px;
        height: 16px;
        cursor: pointer;
        border: 2px solid #000;
        border-radius: 4px;
        -webkit-appearance: none;
    }

    input:checked {
        background-color: var(--color-red-bold);
        transition: 0.2s ease;

        color: #000;
    }

    input:before {
        content: '';
        position: absolute;
        right: 50%;
        top: 50%;
        width: 4px;
        height: 10px;
        border: solid #fff;
        border-width: 0 2px 2px 0;
        margin: -1px -1px 0 -1px;
        transform: rotate(45deg) translate(-50%, -50%);
        z-index: 2;
    }
}

.facebooklogin {
    font-size: 0px;
    border: none;
    background-color: red;
}

.checked-desc {
    margin-left: 20px;
    font-size: 14px;
    font-weight: 600;
}

.login-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}

.submit {
    width: 96px;
    height: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 24px 20px 24px;
    border-radius: 25px;
    background: rgba(0, 0, 0, 0.05);

    &:hover {
        cursor: pointer;
        outline: 0.5px solid rgba(0, 0, 0, 1);
        background: var(--color-red-normal);
        transition: 0.2s ease-out;
    }
}

.submitted {
    cursor: pointer;
    outline: 0.5px solid rgba(0, 0, 0, 1);
    background: var(--color-red-normal);
    transition: 0.2s ease-out;
}

.login-error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error-action {
    font-size: 10px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: -16px;

    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }
}

/* facebook css */
.login-social {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0px;
    border-radius: 8px;
    border: 0.5px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: 0.3s ease-out;

    &:hover {
        cursor: pointer;
        opacity: 0.8;
        outline: 0.5px solid rgba(0, 0, 0, 1);
    }
}



/* google css */
.login-social {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0px;
    border-radius: 8px;
    border: 0.5px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: 0.3s ease-out;

    &:hover {
        cursor: pointer;
        opacity: 0.8;
        outline: 0.5px solid rgba(0, 0, 0, 1);
    }
}

.goUp-btn {
    position: fixed;
    width: fit-content;
    display: none;
    bottom: 2.5%;
    right: 8px;
    font-size: var(--font-size);
    font-weight: var(--font-bold);
    color: var(--white);
    padding: 16px 12px 12px 12px;
    border-radius: 40px;
    background: var(--color-red-normal);
    z-index: 12;
}

.goUp-btn:hover {
    cursor: pointer;
    background: #ed1a38;
}

/* custom css */
.background-blue {
    background: #1877f2;
}

.margin-right {
    margin-right: 8px;
}

.margin-left {
    margin-left: 8px;
}

/* footer */
.footer {
    display: flex;
    width: 100%;
    height: 100%;
}

.footer-logo {
    width: 30%;
    display: flex;
    align-items: end;
    flex-direction: column;
    background: #544946;
    padding: 44px 0px;
    border-right: 1px solid rgba(0, 0, 0, 0.16);
}

.footer-logo-container {
    padding-right: 20px;
}

.footer-logo-content {
    display: flex;
    align-items: end;
}

.footer-logo-desc {
    font-size: var(--font-size-small);
    color: var(--white);
    display: flex;
    align-items: end;
    padding-right: 20px;
}

.contact {
    width: 70%;
    display: flex;
    background: #d8d8d8;
    justify-content: space-around;
    padding-right: 108px;
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: var(--font-size);
    color: var(--black);
}

.contact-social-container {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    font-size: var(--font-size);
}

.contact-title {
}

.contact-content {
    font-size: var(--font-size-small);
}

.contact-social {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: row;
    color: #771420;
    padding: 4px;
}

.contact-content {
}

.contact-icon {
    margin-right: 8px;
}

