/* Đối với điện thoại khi xoay dọc */
@media only screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait) {
    .wrapper {
      width: 100%;
    }
  
    .header {
      display: none;
    }
  
/* header */
    .mobile-header {
      position: fixed;
      width: 100%;
      display: inline;
      color: white;
      padding: 12px 16px;
      z-index: 10;
      background-color: var(--white);
    }
  
    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
       
    .mobile-header-logo-container {
      display: flex;
      align-items: center;
    }
        
    .mobile-header-logo-content {
      width: 52px;
      height: 72px;
    }
  
    .menu-btn {
      border-radius: 2px;
      background-color: var(--color-red-bold);
    }
        
    .menu-link {
      display: flex;
      flex-direction: column;
      padding: 10px 8px;
      z-index: 10;
    }
    
    .menu-link .line {
      width: 16px;
      height: 3px;
      background-color: white;
      margin: 1px 0;
      transition: transform 0.3s ease;
      transform: rotate(180deg);
    }
  
    .menu-btn:hover {
      background-color: #ed1a38;
    }
        
    .mobile-navbar-items {
      position: absolute;
      left: 0%;
      top: 0%;
      width: 80%;
      height: 100vh;
      display: none;
      flex-direction: column;
      list-style: none;
      padding: 16px 14px;
      background-color: var(--color-red-bold);
      transition: cubic-bezier(0.075, 0.82, 0.165, 1);
      z-index: 14;
    }
    
    .mobile-navbar-item {
      text-decoration: none;
      width: 100%;
      padding: 2px 0px 8px 0px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
      margin: 10px 0;
    }
  
    .mobile-navbar-content{
      font-size: 18px;
      font-weight: 400;
      color: var(--white);
    }
  
    .mobile-action-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    .mobile-user-icon-container {
      display: flex;
      align-items: center;
    }
  
    .mobile-cart-container {
      display: flex;
      align-items: center;
    }
    
    .mobile-user-name {
      font-size: 18px;
      font-weight: 400;
      color: var(--white);
    }
  
/* page heading */
    .pageheading-img-container {
        display: block;
        width: 100vw; 
        height: 50vw; 
        overflow: hidden; 
    }

    .pageheading-img {
        width: 100%;
        height: 100%; 
        object-fit: cover;
        object-position: center; 
    }

    .pageheading-content{
        padding: 0px 0px 0px 12px;
    }

    .pageheading-desc {
        font-weight: 500;
    }

    .breadcrumb {
        margin: 0px 0px 0px 12px;
        bottom: -7%;
    }

/* mobile cart */
    .cart {
        display: flex;
        flex-direction: column;
        padding: 48px 12px;
    }

    .cart-wrapper {
        margin-bottom: 32px;
    }

    .cart-heading,
    .cart-product {
        width: 100%;
        border: 1px solid #ccc;
    }

    .cart-heading-name {
        display: flex;
        align-items: center;
        font-size: 12px;
    }

    .cart-heading-price,
    .cart-heading-quantity,
    .cart-heading-total,
    .cart-heading-action {
        font-size: 12px;
        text-align: center;
    }

    .product-img {
        width: 52px;
        height: 52px;
    }

    .item-name p {
        font-size: 12px;
        font-weight: 500;
        text-align: start;
    }

    .item-price,
    .item-total {
        font-size: 12px;
        text-align: start;
    }

    .qty-input .product-qty {
        font-size: 12px;
    }

    .qty-input .qty-count  {
        font-size: 10px;
        padding: 4px;
    }

    .action-remove {
        width: 28px;
        height: 28px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 4px;
    }

    .svg-icon {
        width: 14px;
        height: 14px;
    }

    .pay-submit-container,
    .pay-submit,
    .payment-container {
        width: 100%;
        margin: 0px;
    }

/* mobile footer */
    .footer {
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      margin-top: 28px;
    }
    
    .footer-logo {
      width: 95%;
      display: flex;
      align-items: center;
      flex-direction: column;
      background: #544946;
      padding: 44px 0px;
      border-right: 1px solid rgba(0, 0, 0, 0.16);
    }
    .footer-logo-container {
      padding: 0;
    }
  
    .footer-logo-desc {
      padding: 0;
    }
  
    .contact {
      width: 95%;
      display: flex;
      flex-direction: column;
      align-items: center;
      background: #d8d8d8;
      padding: 0;
      padding-bottom: 10px;
    }

/* mobile custom css */
    .padding-top {
        padding-top: 40px;
    }

    .padding-bottom {
        padding-bottom: 40px;
    }

    .margin-right {
        margin-right: 12px;
        margin-bottom: 3px;
    }

    .mobile-cloumn1 {
        display: flex;
        flex-direction: column;
    }
}
  
/* Đối với điện thoại khi xoay ngang */
@media only screen and (min-width: 320px) and (max-width: 850px) and (orientation: landscape) {
    .wrapper {
        width: 100%;
    }
    
    .header {
        display: none;
    }
    
/* header */
    .mobile-header {
        position: fixed;
        width: 100%;
        display: inline;
        color: white;
        padding: 12px 16px;
        z-index: 10;
        background-color: var(--white);
    }
    
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
         
    .mobile-header-logo-container {
        display: flex;
        align-items: center;
    }
          
    .mobile-header-logo-content {
        width: 52px;
        height: 72px;
    }
    
    .menu-btn {
        border-radius: 2px;
        background-color: var(--color-red-bold);
    }
          
    .menu-link {
        display: flex;
        flex-direction: column;
        padding: 10px 8px;
        z-index: 10;
    }
      
    .menu-link .line {
        width: 16px;
        height: 3px;
        background-color: white;
        margin: 1px 0;
        transition: transform 0.3s ease;
        transform: rotate(180deg);
    }
    
    .menu-btn:hover {
        background-color: #ed1a38;
    }
          
    .mobile-navbar-items {
        position: absolute;
        left: 0%;
        top: 0%;
        width: 80%;
        height: 100vh;
        display: none;
        flex-direction: column;
        list-style: none;
        padding: 16px 14px;
        background-color: var(--color-red-bold);
        transition: cubic-bezier(0.075, 0.82, 0.165, 1);
        z-index: 11;
    }
      
    .mobile-navbar-item {
        text-decoration: none;
        width: 100%;
        padding: 2px 0px 8px 0px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        margin: 10px 0;
    }
    
    .mobile-navbar-content{
        font-size: 18px;
        font-weight: 400;
        color: var(--white);
    }
    
    .mobile-action-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .mobile-user-icon-container {
        display: flex;
        align-items: center;
    }
    
    .mobile-cart-container {
        display: flex;
        align-items: center;
    }
      
    .mobile-user-name {
        font-size: 18px;
        font-weight: 400;
        color: var(--white);
    }
    
/* page heading */
    .pageheading-img-container {
        display: block;
        width: 100vw; 
        height: 50vw; 
        overflow: hidden; 
    }
  
    .pageheading-img {
        width: 100%;
        height: 100%; 
        object-fit: cover;
        object-position: center; 
    }
  
    .pageheading-content{
        padding: 0px 0px 0px 12px;
    }

    .pageheading-desc {
        font-weight: 500;
    }
  
    .breadcrumb {
        margin: 0px 0px 0px 12px;
        bottom: -5%;
    }
  
/* mobile cart */
    .cart {
        display: flex;
        flex-direction: column;
        padding: 48px 12px;
    }

    .cart-wrapper {
        margin-bottom: 32px;
    }

    .cart-heading,
    .cart-product {
        width: 100%;
        border: 1px solid #ccc;
    }

    .cart-heading-name {
        display: flex;
        align-items: center;
        font-size: 12px;
    }

    .cart-heading-price,
    .cart-heading-quantity,
    .cart-heading-total,
    .cart-heading-action {
        font-size: 12px;
        text-align: center;
    }

    .product-img {
        width: 52px;
        height: 52px;
    }

    .item-name p {
        font-size: 12px;
        font-weight: 500;
        text-align: start;
    }

    .item-price,
    .item-total {
        font-size: 12px;
        text-align: start;
    }

    .qty-input .product-qty {
        font-size: 12px;
    }

    .qty-input .qty-count  {
        font-size: 10px;
        padding: 4px;
    }

    .action-remove {
        width: 28px;
        height: 28px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 4px;
    }

    .svg-icon {
        width: 14px;
        height: 14px;
    }

    .pay-submit-container,
    .pay-submit,
    .payment-container {
        width: 100%;
        margin: 0px;
    }
    
/* mobile footer */
    .footer {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        margin-top: 28px;
    }
      
    .footer-logo {
        width: 95%;
        display: flex;
        align-items: center;
        flex-direction: column;
        background: #544946;
        padding: 44px 0px;
        border-right: 1px solid rgba(0, 0, 0, 0.16);
    }

    .footer-logo-container {
        padding: 0;
    }
    
    .footer-logo-desc {
        padding: 0;
    }
    
    .contact {
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #d8d8d8;
        padding: 0;
        padding-bottom: 10px;
    }
  
    /* mobile custom css */
    .padding-top {
        padding-top: 40px;
    }
  
    .padding-bottom {
        padding-bottom: 40px;
    }
  
    .margin-right {
        margin-right: 12px;
        margin-bottom: 3px;
    }

    .mobile-cloumn1 {
        display: flex;
        flex-direction: column;
    }
}