.wrapper {}

/* header */
.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: var(--black);
    background: var(--white);
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    padding: 12px 72px;
    position: fixed;
    background-color: #ffffff;
    z-index: 10;
}

.mobile-header {
    display: none;
}

.header-logo {
    /* width: 20%; */
    display: flex;
    justify-content: flex-start;
}

.header-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo-content {
    width: 192px;
    height: 48px;
}

.navbar {
    /* width: 60%; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
}

.navbar-container {
    color: var(--white);
}

.navbar-content {
    font-size: var(--font-size);
    font-weight: var(--font-bold);
    color: var(--black);
}

.navbar-container :hover {
    cursor: pointer;
    padding-bottom: 2px;
    margin-bottom: -1px;
    color: var(--color-red-bold);
    border-bottom: 2px solid var(--color-red-bold);
    transition: 0.1s ease-in;
}

.search-result {
    width: 242px;
    background-color: red;
    margin: -8px 0px;
}

.search {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background: #ededed;
    border-radius: 92px;
    border: 1.5px solid transparent;
}

.search  input {
    font-family: var(--font-family);
    width: 100%;
    height: 100%;
    flex: 1;
    border: none;
    background: transparent;
    outline: none;
    border: none;
    background: transparent;
    font-size: 12px;
    caret-color: rgb(254, 44, 85);
    padding: 12px 24px;
}

.search input::placeholder {
    color: var(--black);
    font-weight: 400;
}

.search  input:not(:placeholder-shown) {
    .search-btn {
        background: rgba(22, 24, 35, 0.06);
        color: rgba(22, 24, 35, 1);
    }
}

.search input:not(:placeholder-shown) ~ .search-btn {
    opacity: 1;
    background-color: rgba(22, 24, 35, 0.06);
}

.search-btn {
    opacity: 0.6;
    width: 52px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 11px 16px 11px 12px;
    border-top-right-radius: 92px;
    border-bottom-right-radius: 92px;
}

/* search result */
.search-result-container{
    display: none;
    position: absolute;
    width: 120%;
    min-height: 150px;
    max-height: 250px;
    border-radius: 8px;
    background: #F8E5DE;
    top: 110%;
    right: -10%;
    overflow-y: auto;
}

.search-result-container::-webkit-scrollbar {
    width: 2px;
  }

.search-result-items {
    list-style-type: none;
}

.search-result-item {
    padding: 8px 12px;
    border-bottom: 1px solid var(--color-red-bold);
}

.search-result-name {
    font-size: 14px;
    font-weight: 500;
    color: var(--color-red-normal);
}

.search-result-item:hover {
    cursor: pointer;
    opacity: 0.7;
    transition: 0.2s ease-out;
}

.action {
    /* width: 20%; */
    display: flex;
    justify-content: flex-end;
}

.cart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 10px;
    margin-left: 16px;
    border-radius: 50%;
    background-color: var(--color-red-bold);
}

.cart-container:hover {
    cursor: pointer;
    background: #ed1a38;
}

.user-action-container,
.action-container {
    display: flex;
    flex-direction: row;
    font-size: var(--font-size);
    font-weight: var(--font-bold);
    color: var(--white);
    padding: 12px 20px;
    border-radius: 40px;
    background: var(--color-red-normal);
}

.user-action-container
.profile-action-container {
    display: none;
    flex-direction: row;
    font-size: var(--font-size);
    font-weight: var(--font-bold);
    color: var(--white);
    padding: 12px 20px;
    border-radius: 40px;
    background: var(--color-red-normal);

}

.user-action-container:hover,
.action-container:hover {
    cursor: pointer;
    background: #ed1a38;

    .user-icon {
        background: red;
        color: red;
    }
}


.user-icon {
    margin-right: 12px;
}

/* page heading */
.pageheading-container {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 97px;
    margin-bottom: -12px;
}

.pageheading-img {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #ccc;
}

.breadcrumb {
    position: absolute;
    background: #b91f32;
    bottom: -12px;
    color: #fff;
    padding: 4px 16px;
    display: flex;
    align-items: center;
    margin: 0px 72px;
}

.breadcrumb-icon {
}

.breadcrumb-home-icon {
    padding-right: 2px;
}

.breadcrumb-play-icon {
    padding-right: 6px;
}

.playicon {
    display: flex;
    flex-direction: column;
    color: red;
}
.breadcrumb-title {
    font-size: 14px;
}

.content {
}

/* profile */
.profile-wrapper {
    width: 100%;
    display: flex;
    padding: var(--padding-inner);
}

.avatar-wrapper {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar-container{
	position: relative;
	height: 180px;
	width: 180px;
	margin: 50px auto;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 1px 1px 15px -5px black;
	transition: all .3s ease;
    bottom: 19%;
    
	&:hover{
		transform: scale(1.05);
		cursor: pointer;
	}

	&:hover .profile-pic{
		opacity: .7;
	}

	.profile-pic {
    height: 100%;
		width: 100%;
		transition: all .3s ease;
		&:after{
			content: "\f007";
			top: 0; left: 0;
			width: 100%;
			height: 100%;
			position: absolute;
			font-size: 190px;
			background: #ed1a38;
			color: #34495e;
			text-align: center;
		}
	}

	.upload-button {
		position: absolute;
		top: 0; left: 0;
		height: 100%;
		width: 100%;
		.fa-arrow-circle-up{
			position: absolute;
			font-size: 234px;
			top: -17px;
			left: 0;
			text-align: center;
			opacity: 0;
			transition: all .3s ease;
			color: #34495e;
		}
		&:hover .fa-arrow-circle-up{
			opacity: .9;
		}
	}
}

.user-name-container {
    position: relative;
    bottom: 24%;
}

.profile-user-name {
    font-size: 24px;
    font-weight: 600;
    color: var(--black);
    text-shadow: 2px 2px rgba(0, 0, 0, 0.1);
}

.logout-container {
    position: relative;
    bottom: 22%;
}

.logout-btn {
    font-size: 16px;
    font-weight: 600;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    color: var(--white);
    background-color: var(--color-red-normal);
}

.logout-btn:hover {
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #ed1a38;
}

.info-container {
    width: 75%;
    margin-left: 20px;
}

.basic-info-container {}

.basic-info-title-container {
    padding: 8px 0px;
    border-bottom: 1px solid var(--color-red-bold);
}

.basic-info-title {
    font-size: 20px;
    font-weight: 700;
    color: var(--color-red-bold);
}

.basic-info-name-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 24px;

    input {
        width: 100%;
        height: 40px;
        font-size: 14px;
        border-radius: 8px;
        border: 2px solid rgba(0, 0, 0, 0.3);
        padding: 0px 12px;
        background: transparent;
        transition: 0.3 ease;
    }

    .label-line {
        position: absolute;
        font-size: 14px;
        padding: 0px 20px;
        pointer-events: none;
        transition: 0.3s ease;
        z-index: 2;
    }

    input:hover {
        cursor: pointer;
        box-shadow: 0 1px 2px rgb(204, 204, 204);
    }

    input:focus-within {
        border: 2px solid #25cafe;
    }

    input:focus {
        outline: #25cafe;
    }

    input:focus + .label-line {
        color: #25cafe;
        left: 10px;
        padding: 0px 6px;
        background-color: #ffffff;
        transition: 0.3s ease;
        transform: translateY(-100%) scale(0.8);
    }

    .input-valued {
        border: 2px solid #25cafe;
        outline: #25cafe;
    }

    .line-valued {
        color: #25cafe;
        left: 10px;
        padding: 0px 6px;
        background-color: #ffffff;
        transition: 0.3s ease;
        transform: translateY(-100%) scale(0.8);
    }
}

.gender-info-container {
    position: relative;
    width: 50%;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 24px;
    margin-right: 10px;
}

.dropdown {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    font-size: 14px;
    padding: 0px 12px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    background-color: #fff;
}

.input-valued {
    border: 2px solid #25cafe;
    outline: #25cafe;
}

.dropdown .gender-select-cotainer {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown .gender-select-cotainer > i {
    font-size: 13px;
    color: #888;
    cursor: pointer;
    transition: all .3s ease-in-out;
    float: right;
}

.dropdown:hover {
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 0 4px rgb(204, 204, 204);
}

.dropdown:active {
    border-radius: 8px;
    border: 2px solid #25cafe;
    outline: #25cafe;
}

.dropdown.active:hover .gender-icon {
    transform: rotate(90deg);
    transition: 0.2s ease;
}

.dropdown.active:hover,
.dropdown.active {
    box-shadow: 0 0 4px rgb(204, 204, 204);
    border-radius: 8px;
    outline: #25cafe;
    border-radius: 2px 2px 0 0;
}

.dropdown.active .gender-select-cotainer > i {
    transform: rotate(-90deg);
    border: 2px solid #25cafe;

}

.gender-select:focus {
    border-radius: 8px;
    outline: #25cafe;
}

.gender-icon {
    width: 24px;
    height: 24px;
    transform: rotate(180deg);
}

.dropdown .dropdown-menu {
    position: absolute;
    width: 100%;
    display: none;
    top: 110%;
    left: 0;
    max-height: 144px;
    margin-top: 1px;
    box-shadow: 0 1px 2px rgb(204, 204, 204);
    border-radius: 0 1px 2px 2px;
    overflow: hidden;
    background-color: #fff;
    overflow-y: auto;
    z-index: 9;
}

.dropdown .dropdown-menu li {
    cursor: pointer;
    padding: 10px;
    transition: all .2s ease-in-out;
}

.dropdown .dropdown-menu {
    padding: 0;
    list-style: none
}

.dropdown .dropdown-menu li:hover {
    background-color: #f2f2f2
}

.dropdown .dropdown-menu li:active {
    background-color: #e2e2e2
}

.birthdate-info {
    position: relative;
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 24px;
    margin-left: 10px;

    input {
        width: 100%;
        height: 40px;
        font-size: 14px;
        border-radius: 8px;
        border: 2px solid rgba(0, 0, 0, 0.3);
        padding: 0px 12px;
        background: transparent;
        transition: 0.3 ease;
    }

    .label-line {
        position: absolute;
        font-size: 14px;
        padding: 0px 20px;
        pointer-events: none;
        transition: 0.3s ease;
        z-index: 2;
    }

    input:focus-within {
        border: 2px solid #25cafe;
    }

    input:focus {
        outline: #25cafe;
    }

    input:hover {
        cursor: pointer;
        box-shadow: 0 1px 2px rgb(204, 204, 204);
    }

    input:focus + .label-line {
        color: #25cafe;
        left: 10px;
        padding: 0px 6px;
        background-color: #ffffff;
        transition: 0.3s ease;
        transform: translateY(-100%) scale(0.8);
    }

    .input-valued {
        border: 2px solid #25cafe;
        outline: #25cafe;
    }

    .line-valued {
        color: #25cafe;
        left: 10px;
        padding: 0px 6px;
        background-color: #ffffff;
        transition: 0.3s ease;
        transform: translateY(-100%) scale(0.8);
    }
}

.basic-info-detail-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    margin: 24px 0px;

    textarea {
        width: 100%;
        height: 212px;
        font-size: 16px;
        border-radius: 8px;
        border: 2px solid rgba(0, 0, 0, 0.3);
        padding: 10px 12px;
        background: transparent;
        transition: 0.3 ease;
        resize: none;
    }

    .label-line {
        position: absolute;
        font-size: 14px;
        padding: 12px 20px;
        pointer-events: none;
        transition: 0.3s ease;
        z-index: 2;
    }

    textarea:focus-within {
        border: 2px solid #25cafe;
    }

    textarea:focus {
        outline: #25cafe;
    }

    textarea:hover {
        cursor: pointer;
        box-shadow: 0 1px 2px rgb(204, 204, 204);
    }

    textarea:focus + .label-line {
        color: #25cafe;
        left: 0.2%;
        padding: 0px 6px;
        background-color: #ffffff;
        transition: 0.3s ease;
        transform: translateY(-50%) scale(0.8);
    }

    .input-valued {
        border: 2px solid #25cafe;
        outline: #25cafe;
    }

    .line-valued {
        color: #25cafe;
        left: 0.2%;
        padding: 0px 6px;
        background-color: #ffffff;
        transition: 0.3s ease;
        transform: translateY(-50%) scale(0.8);
    }
}

.contact-info-container {}

.contact-info-title-container {
    padding: 8px 0px;
    border-bottom: 1px solid var(--color-red-bold);
}

.contact-info-title {
    font-size: 20px;
    font-weight: 700;
    color: var(--color-red-bold);
}

.phone-info {
    position: relative;
    width: 50%;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 24px;
    margin-right: 10px;

    input {
        width: 100%;
        height: 40px;
        font-size: 14px;
        border-radius: 8px;
        border: 2px solid rgba(0, 0, 0, 0.3);
        padding: 0px 12px;
        background: transparent;
        transition: 0.3 ease;
    }

    .label-line {
        position: absolute;
        font-size: 14px;
        padding: 0px 20px;
        pointer-events: none;
        transition: 0.3s ease;
        z-index: 2;
    }

    input:focus-within {
        border: 2px solid #25cafe;
    }

    input:focus {
        outline: #25cafe;
    }

    input:hover {
        cursor: pointer;
        box-shadow: 0 1px 2px rgb(204, 204, 204);
    }

    input:focus + .label-line {
        color: #25cafe;
        left: 10px;
        padding: 0px 6px;
        background-color: #ffffff;
        transition: 0.3s ease;
        transform: translateY(-100%) scale(0.8);
    }

    .input-valued {
        border: 2px solid #25cafe;
        outline: #25cafe;
    }

    .line-valued {
        color: #25cafe;
        left: 10px;
        padding: 0px 6px;
        background-color: #ffffff;
        transition: 0.3s ease;
        transform: translateY(-100%) scale(0.8);
    }
}

.email-info {
    position: relative;
    width: 50%;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 24px;
    margin-left: 10px;

    input {
        width: 100%;
        height: 40px;
        font-size: 14px;
        border-radius: 8px;
        border: 2px solid rgba(0, 0, 0, 0.3);
        padding: 0px 12px;
        background: transparent;
        transition: 0.3 ease;
    }

    .label-line {
        position: absolute;
        font-size: 14px;
        padding: 0px 20px;
        pointer-events: none;
        transition: 0.3s ease;
        z-index: 2;
    }

    input:focus-within {
        border: 2px solid #25cafe;
    }

    input:focus {
        outline: #25cafe;
    }

    input:hover {
        cursor: pointer;
        box-shadow: 0 1px 2px rgb(204, 204, 204);
    }

    input:focus + .label-line {
        color: #25cafe;
        left: 10px;
        padding: 0px 6px;
        background-color: #ffffff;
        transition: 0.3s ease;
        transform: translateY(-100%) scale(0.8);
    }

    .input-valued {
        border: 2px solid #25cafe;
        outline: #25cafe;
    }

    .line-valued {
        color: #25cafe;
        left: 10px;
        padding: 0px 6px;
        background-color: #ffffff;
        transition: 0.3s ease;
        transform: translateY(-100%) scale(0.8);
    }
}

.address-info {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 24px;
    margin-right: 10px;

    input {
        width: 100%;
        height: 40px;
        font-size: 14px;
        border-radius: 8px;
        border: 2px solid rgba(0, 0, 0, 0.3);
        padding: 0px 12px;
        background: transparent;
        transition: 0.3 ease;
    }

    .label-line {
        position: absolute;
        font-size: 14px;
        padding: 0px 20px;
        pointer-events: none;
        transition: 0.3s ease;
        z-index: 2;
    }

    input:focus-within {
        border: 2px solid #25cafe;
    }

    input:focus {
        outline: #25cafe;
    }

    input:hover {
        cursor: pointer;
        box-shadow: 0 1px 2px rgb(204, 204, 204);
    }

    input:focus + .label-line {
        color: #25cafe;
        left: 10px;
        padding: 0px 6px;
        background-color: #ffffff;
        transition: 0.3s ease;
        transform: translateY(-100%) scale(0.8);
    }

    .input-valued {
        border: 2px solid #25cafe;
        outline: #25cafe;
    }

    .line-valued {
        color: #25cafe;
        left: 10px;
        padding: 0px 6px;
        background-color: #ffffff;
        transition: 0.3s ease;
        transform: translateY(-100%) scale(0.8);
    }
}

.info-save-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0px;
}

.info-save-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    gap: 10px;
    padding: 20px;
    border: none;
    border-radius: 8px;
    color: var(--white);
    background: var(--color-red-normal);
}

.info-save-btn:hover {
    cursor: pointer;
    outline: #ccc;
    background-color: #ed1a38;
}

.goUp-btn {
    position: fixed;
    width: fit-content;
    display: none;
    bottom: 2.5%;
    right: 8px;
    font-size: var(--font-size);
    font-weight: var(--font-bold);
    color: var(--white);
    padding: 16px 12px 12px 12px;
    border-radius: 40px;
    background: var(--color-red-normal);
    z-index: 12;
}

.goUp-btn:hover {
    cursor: pointer;
    background: #ed1a38;
}

/* footer */
.footer {
    display: flex;
    width: 100%;
    height: 100%;
}

.footer-logo {
    width: 30%;
    display: flex;
    align-items: end;
    flex-direction: column;
    background: #544946;
    padding: 44px 0px;
    border-right: 1px solid rgba(0, 0, 0, 0.16);
}

.footer-logo-container {
    padding-right: 20px;
}

.footer-logo-content {
    display: flex;
    align-items: end;
}

.footer-logo-desc {
    font-size: var(--font-size-small);
    color: var(--white);
    display: flex;
    align-items: end;
    padding-right: 20px;
}

.contact {
    width: 70%;
    display: flex;
    background: #d8d8d8;
    justify-content: space-around;
    padding-right: 108px;
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: var(--font-size);
    color: var(--black);
}

.contact-social-container {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    font-size: var(--font-size);
}

.contact-title {
}

.contact-content {
    font-size: var(--font-size-small);
}

.contact-social {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: row;
    color: #771420;
    padding: 4px;
}

.contact-content {
}

.contact-icon {
    margin-right: 8px;
}

/* custom */
.coloum2 {
    width: 100%;
    display: flex;
}

